{
  "openapi": "3.1.0",
  "info": {
    "title": "Neutrino API",
    "description": "The general-purpose API",
    "contact": {
      "name": "Neutrino API",
      "url": "https://www.neutrinoapi.com/",
      "email": "tech@neutrinoapi.com"
    },
    "version": "3.7.2"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://neutrinoapi.net",
      "description": "Multicloud endpoint utilizing both GCP and AWS with IP anycast load balancing, DNS based geoproximity and cloud failover",
      "variables": {}
    },
    {
      "url": "https://aws.neutrinoapi.net",
      "description": "AWS only endpoint utilizing IP anycast load balancing and failover",
      "variables": {}
    },
    {
      "url": "https://gcp.neutrinoapi.net",
      "description": "GCP only endpoint utilizing IP anycast load balancing and failover",
      "variables": {}
    },
    {
      "url": "https://neutrinoapi.com",
      "description": "Backup endpoint utilizing a seperate top-level domain and IP addresses",
      "variables": {}
    },
    {
      "url": "https://eu.neutrinoapi.net",
      "description": "European Union geofence endpoint, requests to this endpoint are guaranteed to only be processed on servers within the geofence boundary",
      "variables": {}
    },
    {
      "url": "https://aus.neutrinoapi.net",
      "description": "Australia geofence endpoint, requests to this endpoint are guaranteed to only be processed on servers within the geofence boundary",
      "variables": {}
    },
    {
      "url": "https://usa.neutrinoapi.net",
      "description": "United States geofence endpoint, requests to this endpoint are guaranteed to only be processed on servers within the geofence boundary",
      "variables": {}
    }
  ],
  "paths": {
    "/html-render": {
      "post": {
        "tags": [
          "Imaging"
        ],
        "summary": "HTML Render",
        "description": "Render HTML content to PDF, JPG or PNG",
        "operationId": "HTMLRender",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "content"
                ],
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The HTML content. This can be either a URL to load from, a file upload (multipart/form-data) or an HTML content string",
                    "examples": [
                      "<h1>TEST DOCUMENT</h1><p>Hello, this is a test page...</p>"
                    ]
                  },
                  "format": {
                    "type": "string",
                    "description": "Which format to output, available options are: PDF, PNG, JPG",
                    "default": "PDF"
                  },
                  "page-size": {
                    "type": "string",
                    "description": "Set the document page size, can be one of: A0 - A9, B0 - B10, Comm10E, DLE or Letter",
                    "default": "A4"
                  },
                  "title": {
                    "type": "string",
                    "description": "The document title"
                  },
                  "margin": {
                    "type": "number",
                    "description": "The document margin (in mm)",
                    "contentEncoding": "double",
                    "default": 0
                  },
                  "margin-left": {
                    "type": "number",
                    "description": "The document left margin (in mm)",
                    "contentEncoding": "double",
                    "default": 0
                  },
                  "margin-right": {
                    "type": "number",
                    "description": "The document right margin (in mm)",
                    "contentEncoding": "double",
                    "default": 0
                  },
                  "margin-top": {
                    "type": "number",
                    "description": "The document top margin (in mm)",
                    "contentEncoding": "double",
                    "default": 0
                  },
                  "margin-bottom": {
                    "type": "number",
                    "description": "The document bottom margin (in mm)",
                    "contentEncoding": "double",
                    "default": 0
                  },
                  "landscape": {
                    "type": "boolean",
                    "description": "Set the document to landscape orientation",
                    "default": false
                  },
                  "zoom": {
                    "type": "number",
                    "description": "Set the zoom factor when rendering the page (2.0 for double size, 0.5 for half size)",
                    "contentEncoding": "double",
                    "default": 1
                  },
                  "grayscale": {
                    "type": "boolean",
                    "description": "Render the final document in grayscale",
                    "default": false
                  },
                  "css": {
                    "type": "string",
                    "description": "Inject custom CSS into the HTML. e.g. 'body { background-color: red;}'"
                  },
                  "image-width": {
                    "type": "integer",
                    "description": "If rendering to an image format (PNG or JPG) use this image width (in pixels)",
                    "contentEncoding": "int32",
                    "default": 1024
                  },
                  "image-height": {
                    "type": "integer",
                    "description": "If rendering to an image format (PNG or JPG) use this image height (in pixels). The default is automatic which dynamically sets the image height based on the content",
                    "contentEncoding": "int32"
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Number of seconds to wait before rendering the page (can be useful for pages with animations etc)",
                    "contentEncoding": "int32",
                    "default": 0
                  },
                  "page-width": {
                    "type": "number",
                    "description": "Set the PDF page width explicitly (in mm)",
                    "contentEncoding": "double"
                  },
                  "page-height": {
                    "type": "number",
                    "description": "Set the PDF page height explicitly (in mm)",
                    "contentEncoding": "double"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Timeout in seconds. Give up if still trying to load the HTML content after this number of seconds",
                    "contentEncoding": "int32",
                    "default": 300
                  },
                  "ignore-certificate-errors": {
                    "type": "boolean",
                    "description": "Ignore any TLS/SSL certificate errors",
                    "default": false
                  },
                  "header": {
                    "type": "string",
                    "description": "The header HTML to insert into each page. The following dynamic tags are supported: {date}, {title}, {url}, {pageNumber}, {totalPages}",
                    "examples": [
                      "<div style='width: 100%; font-size: 8pt;'>{pageNumber} of {totalPages} - {date}</div>"
                    ]
                  },
                  "footer": {
                    "type": "string",
                    "description": "The footer HTML to insert into each page. The following dynamic tags are supported: {date}, {title}, {url}, {pageNumber}, {totalPages}"
                  },
                  "bg-color": {
                    "type": "string",
                    "description": "For image rendering set the background color in hexadecimal notation (e.g. #0000ff). For PNG output the special value of 'transparent' can be used to create a transparent PNG"
                  },
                  "exec": {
                    "type": "string",
                    "description": "Execute JavaScript on the website. This parameter accepts JavaScript as either a string containing JavaScript or for sending multiple separate statements a JSON array or POST array can also be used. You can also use the following specially defined user interaction functions: <br> <div> sleep(seconds); Just wait/sleep for the specified number of seconds. <br> click('selector'); Click on the first element matching the given selector. <br> focus('selector'); Focus on the first element matching the given selector. <br> keys('characters'); Send the specified keyboard characters. Use click() or focus() first to send keys to a specific element. <br> enter(); Send the Enter key. <br> tab(); Send the Tab key. <br> </div>"
                  },
                  "user-agent": {
                    "type": "string",
                    "description": "Override the browsers default user-agent string with this one"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/image-watermark": {
      "post": {
        "tags": [
          "Imaging"
        ],
        "summary": "Image Watermark",
        "description": "Watermark one image with another image",
        "operationId": "ImageWatermark",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "image-url",
                  "watermark-url"
                ],
                "type": "object",
                "properties": {
                  "image-url": {
                    "type": "string",
                    "description": "The URL or Base64 encoded Data URL for the source image. You can also upload an image file directly using multipart/form-data",
                    "examples": [
                      "https://www.neutrinoapi.com/img/LOGO.png"
                    ]
                  },
                  "watermark-url": {
                    "type": "string",
                    "description": "The URL or Base64 encoded Data URL for the watermark image. You can also upload an image file directly using multipart/form-data",
                    "examples": [
                      "https://www.neutrinoapi.com/img/icons/security.png"
                    ]
                  },
                  "opacity": {
                    "type": "integer",
                    "description": "The opacity of the watermark (0 to 100)",
                    "contentEncoding": "int32",
                    "default": 50,
                    "examples": [
                      90
                    ]
                  },
                  "format": {
                    "type": "string",
                    "description": "The output image format, can be either png or jpg",
                    "default": "png"
                  },
                  "position": {
                    "type": "string",
                    "description": "The position of the watermark image, possible values are: <br> center, top-left, top-center, top-right, bottom-left, bottom-center, bottom-right",
                    "default": "center"
                  },
                  "width": {
                    "type": "integer",
                    "description": "If set resize the resulting image to this width (in px)",
                    "contentEncoding": "int32"
                  },
                  "height": {
                    "type": "integer",
                    "description": "If set resize the resulting image to this height (in px)",
                    "contentEncoding": "int32"
                  },
                  "resize-mode": {
                    "type": "string",
                    "description": "The resize mode to use, we support 3 main resizing modes: <ul> <li><b>scale</b> <br> Resize to within the width and height specified while preserving aspect ratio. In this mode the width or height will be automatically adjusted to fit the aspect ratio</li> <li><b>pad</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and pad any space left over. Any padded space will be filled in with the 'bg-color' value</li> <li><b>crop</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and crop any space which fall outside the area. The cropping window is centered on the original image</li> </ul>",
                    "default": "scale"
                  },
                  "bg-color": {
                    "type": "string",
                    "description": "The image background color in hexadecimal notation (e.g. #0000ff). For PNG output the special value of 'transparent' can also be used. For JPG output the default is black (#000000)",
                    "default": "transparent"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/qr-code": {
      "post": {
        "tags": [
          "Imaging"
        ],
        "summary": "QR Code",
        "description": "Generate a QR code as a PNG image",
        "operationId": "QRCode",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "content"
                ],
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The content to encode into the QR code (e.g. a URL or a phone number)",
                    "examples": [
                      "https://www.neutrinoapi.com/signup/"
                    ]
                  },
                  "width": {
                    "type": "integer",
                    "description": "The width of the QR code (in px)",
                    "contentEncoding": "int32",
                    "default": 256
                  },
                  "height": {
                    "type": "integer",
                    "description": "The height of the QR code (in px)",
                    "contentEncoding": "int32",
                    "default": 256
                  },
                  "fg-color": {
                    "type": "string",
                    "description": "The QR code foreground color",
                    "default": "#000000"
                  },
                  "bg-color": {
                    "type": "string",
                    "description": "The QR code background color",
                    "default": "#ffffff"
                  },
                  "code-format": {
                    "type": "string",
                    "description": "The barcode format to output. Accepted formats are: qr, c128",
                    "default": "qr"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/image-resize": {
      "post": {
        "tags": [
          "Imaging"
        ],
        "summary": "Image Resize",
        "description": "Resize an image and output as either JPEG or PNG",
        "operationId": "ImageResize",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "image-url",
                  "width"
                ],
                "type": "object",
                "properties": {
                  "image-url": {
                    "type": "string",
                    "description": "The URL or Base64 encoded Data URL for the source image. You can also upload an image file directly using multipart/form-data",
                    "examples": [
                      "https://www.neutrinoapi.com/img/LOGO.png"
                    ]
                  },
                  "width": {
                    "type": "integer",
                    "description": "The width to resize to (in px)",
                    "contentEncoding": "int32",
                    "examples": [
                      32
                    ]
                  },
                  "height": {
                    "type": "integer",
                    "description": "The height to resize to (in px). If you don't set this field then the height will be automatic based on the requested width and image aspect ratio",
                    "contentEncoding": "int32",
                    "examples": [
                      32
                    ]
                  },
                  "format": {
                    "type": "string",
                    "description": "The output image format, can be either png or jpg",
                    "default": "png"
                  },
                  "resize-mode": {
                    "type": "string",
                    "description": "The resize mode to use, we support 3 main resizing modes: <ul> <li><b>scale</b> <br> Resize to within the width and height specified while preserving aspect ratio. In this mode the width or height will be automatically adjusted to fit the aspect ratio</li> <li><b>pad</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and pad any space left over. Any padded space will be filled in with the 'bg-color' value</li> <li><b>crop</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and crop any space which fall outside the area. The cropping window is centered on the original image</li> </ul>",
                    "default": "scale"
                  },
                  "bg-color": {
                    "type": "string",
                    "description": "The image background color in hexadecimal notation (e.g. #0000ff). For PNG output the special value of 'transparent' can also be used. For JPG output the default is black (#000000)",
                    "default": "transparent"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/sms-verify": {
      "post": {
        "tags": [
          "Telephony"
        ],
        "summary": "SMS Verify",
        "description": "Send a unique security code to any mobile device via SMS",
        "operationId": "SMSVerify",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "number"
                ],
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "The phone number to send a verification code to",
                    "examples": [
                      "+12106100045"
                    ]
                  },
                  "code-length": {
                    "type": "integer",
                    "description": "The number of digits to use in the security code (must be between 4 and 12)",
                    "contentEncoding": "int32",
                    "default": 5
                  },
                  "security-code": {
                    "type": "integer",
                    "description": "Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code",
                    "contentEncoding": "int32"
                  },
                  "country-code": {
                    "type": "string",
                    "description": "ISO 2-letter country code, assume numbers are based in this country. <br> If not set numbers are assumed to be in international format (with or without the leading + sign)"
                  },
                  "language-code": {
                    "type": "string",
                    "description": "The language to send the verification code in, available languages are: <ul> <li>de - German</li> <li>en - English</li> <li>es - Spanish</li> <li>fr - French</li> <li>it - Italian</li> <li>pt - Portuguese</li> <li>ru - Russian</li> </ul>",
                    "default": "en"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Limit the total number of SMS allowed to the supplied phone number, if the limit is reached within the TTL then error code 14 will be returned",
                    "contentEncoding": "int32",
                    "default": 10
                  },
                  "limit-ttl": {
                    "type": "integer",
                    "description": "Set the TTL in number of days that the 'limit' option will remember a phone number (the default is 1 day and the maximum is 365 days)",
                    "contentEncoding": "int32",
                    "default": 1
                  },
                  "brand-name": {
                    "type": "string",
                    "description": "Set a custom brand or product name in the verification message"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/phone-playback": {
      "post": {
        "tags": [
          "Telephony"
        ],
        "summary": "Phone Playback",
        "description": "Make an automated call to any valid phone number and playback an audio message",
        "operationId": "PhonePlayback",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "number",
                  "audio-url"
                ],
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "The phone number to call. Must be in valid international format",
                    "examples": [
                      "+12106100045"
                    ]
                  },
                  "audio-url": {
                    "type": "string",
                    "description": "A URL to a valid audio file. Accepted audio formats are: <ul> <li>MP3</li> <li>WAV</li> <li>OGG</li> </ul> You can use the following MP3 URL for testing: <br> https://www.neutrinoapi.com/test-files/test1.mp3",
                    "examples": [
                      "https://www.neutrinoapi.com/test-files/test1.mp3"
                    ]
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Limit the total number of calls allowed to the supplied phone number, if the limit is reached within the TTL then error code 14 will be returned",
                    "contentEncoding": "int32",
                    "default": 3
                  },
                  "limit-ttl": {
                    "type": "integer",
                    "description": "Set the TTL in number of days that the 'limit' option will remember a phone number (the default is 1 day and the maximum is 365 days)",
                    "contentEncoding": "int32",
                    "default": 1
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhonePlaybackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/hlr-lookup": {
      "get": {
        "tags": [
          "Telephony"
        ],
        "summary": "HLR Lookup",
        "description": "Connect to the global mobile cellular network and retrieve the status of a mobile device",
        "operationId": "HLRLookup",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "description": "A phone number",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "+12106100045"
              ]
            }
          },
          {
            "name": "country-code",
            "in": "query",
            "description": "ISO 2-letter country code, assume numbers are based in this country. <br> If not set numbers are assumed to be in international format (with or without the leading + sign)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HLRLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/verify-security-code": {
      "get": {
        "tags": [
          "Telephony"
        ],
        "summary": "Verify Security Code",
        "description": "Check if a security code sent via SMS Verify or Phone Verify is valid",
        "operationId": "VerifySecurityCode",
        "parameters": [
          {
            "name": "security-code",
            "in": "query",
            "description": "The security code to verify",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "123456"
              ]
            }
          },
          {
            "name": "limit-by",
            "in": "query",
            "description": "If set then enable additional brute-force protection by limiting the number of attempts by the supplied value. This can be set to any unique identifier you would like to limit by, for example a hash of the users email, phone number or IP address. Requests to this API will be ignored after approximately 10 failed verification attempts",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifySecurityCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/phone-verify": {
      "post": {
        "tags": [
          "Telephony"
        ],
        "summary": "Phone Verify",
        "description": "Make an automated call to any valid phone number and playback a unique security code",
        "operationId": "PhoneVerify",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "number"
                ],
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "The phone number to send the verification code to",
                    "examples": [
                      "+12106100045"
                    ]
                  },
                  "code-length": {
                    "type": "integer",
                    "description": "The number of digits to use in the security code (between 4 and 12)",
                    "contentEncoding": "int32",
                    "default": 6
                  },
                  "security-code": {
                    "type": "integer",
                    "description": "Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code",
                    "contentEncoding": "int32"
                  },
                  "playback-delay": {
                    "type": "integer",
                    "description": "The delay in milliseconds between the playback of each security code",
                    "contentEncoding": "int32",
                    "default": 800
                  },
                  "country-code": {
                    "type": "string",
                    "description": "ISO 2-letter country code, assume numbers are based in this country. <br> If not set numbers are assumed to be in international format (with or without the leading + sign)"
                  },
                  "language-code": {
                    "type": "string",
                    "description": "The language to playback the verification code in, available languages are: <ul> <li>de - German</li> <li>en - English</li> <li>es - Spanish</li> <li>fr - French</li> <li>it - Italian</li> <li>pt - Portuguese</li> <li>ru - Russian</li> </ul>",
                    "default": "en"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Limit the total number of calls allowed to the supplied phone number, if the limit is reached within the TTL then error code 14 will be returned",
                    "contentEncoding": "int32",
                    "default": 3
                  },
                  "limit-ttl": {
                    "type": "integer",
                    "description": "Set the TTL in number of days that the 'limit' option will remember a phone number (the default is 1 day and the maximum is 365 days)",
                    "contentEncoding": "int32",
                    "default": 1
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/email-validate": {
      "get": {
        "tags": [
          "Data Tools"
        ],
        "summary": "Email Validate",
        "description": "Parse, validate and clean an email address",
        "operationId": "EmailValidate",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "An email address",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "tech@neutrinoapi.com"
              ]
            }
          },
          {
            "name": "fix-typos",
            "in": "query",
            "description": "Automatically attempt to fix typos in the address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/bad-word-filter": {
      "post": {
        "tags": [
          "Data Tools"
        ],
        "summary": "Bad Word Filter",
        "description": "Detect bad words, swear words and profanity in a given text",
        "operationId": "BadWordFilter",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "content"
                ],
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The content to scan. This can be either a URL to load from, a file upload (multipart/form-data) or an HTML content string",
                    "examples": [
                      "https://en.wikipedia.org/wiki/Profanity"
                    ]
                  },
                  "censor-character": {
                    "type": "string",
                    "description": "The character to use to censor out the bad words found"
                  },
                  "catalog": {
                    "type": "string",
                    "description": "Which catalog of bad words to use, we currently maintain two bad word catalogs: <br> <ul> <li>strict - the largest database of bad words which includes profanity, obscenity, sexual, rude, cuss, dirty, swear and objectionable words and phrases. This catalog is suitable for environments of all ages including educational or children's content</li> <li>obscene - like the strict catalog but does not include any mild profanities, idiomatic phrases or words which are considered formal terminology. This catalog is suitable for adult environments where certain types of bad words are considered OK</li> </ul>",
                    "default": "strict"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadWordFilterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/ua-lookup": {
      "get": {
        "tags": [
          "Data Tools"
        ],
        "summary": "UA Lookup",
        "description": "Parse, validate and get detailed user-agent information from a user agent string or from client hints",
        "operationId": "UALookup",
        "parameters": [
          {
            "name": "ua",
            "in": "query",
            "description": "The user-agent string to lookup. For client hints this corresponds to the 'sec-ch-ua' header or you can also pass the JSON data directly from the 'navigator.userAgentData.getHighEntropyValues()' JavaScript API",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "Mozilla/5.0 (Linux; Android 11; SM-G9980U1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.101 Mobile Safari/537.36"
              ]
            }
          },
          {
            "name": "ua-version",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-full-version' header",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ua-platform",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-platform' header",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ua-platform-version",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-platform-version' header",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ua-mobile",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-mobile' header",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device-model",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-model' header. <br> You can also use this parameter to lookup a device directly by its model name, model code or hardware code, on android you can get the model name from: https://developer.android.com/reference/android/os/Build.html#MODEL",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device-brand",
            "in": "query",
            "description": "This parameter is only used in combination with 'device-model' for direct device lookups without any user-agent data. Set this to the brand or manufacturer name, this is required for accurate device detection with ambiguous model names. On android you can get the device brand from: https://developer.android.com/reference/android/os/Build#MANUFACTURER",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ua-arch",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-arch' header",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ua-bitness",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-bitness' header",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ua-form-factors",
            "in": "query",
            "description": "For client hints this corresponds to the 'sec-ch-ua-form-factors' header",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UALookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/phone-validate": {
      "get": {
        "tags": [
          "Data Tools"
        ],
        "summary": "Phone Validate",
        "description": "Parse, validate and get location information about a phone number",
        "operationId": "PhoneValidate",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "description": "A phone number. This can be in international format (E.164) or local format. If passing local format you must also set either the 'country-code' OR 'ip' options as well",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "+6495552000"
              ]
            }
          },
          {
            "name": "country-code",
            "in": "query",
            "description": "ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "Pass in a users IP address and we will assume numbers are based in the country of the IP address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/ip-blocklist-download": {
      "get": {
        "tags": [
          "Security and Networking"
        ],
        "summary": "IP Blocklist Download",
        "description": "This API is a direct feed to our IP blocklist data",
        "operationId": "IPBlocklistDownload",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "The data format. Can be either CSV or TXT",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "csv"
            }
          },
          {
            "name": "cidr",
            "in": "query",
            "description": "Output IPs using CIDR notation. This option should be preferred but is off by default for backwards compatibility",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ip6",
            "in": "query",
            "description": "Output the IPv6 version of the blocklist, the default is to output IPv4 only. Note that this option enables CIDR notation too as this is the only notation currently supported for IPv6",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category of IP addresses to include in the download file, possible values are: <br> <ul> <li>all - all IPs available on your current plan (excludes VPN providers for any plans lower than Tier 3)</li> <li>bot - all IPs hosting a malicious bot or part of a botnet. This is a broad category which includes brute-force crackers</li> <li>exploit-bot - all IPs hosting an exploit finding bot or running exploit scanning software</li> <li>hijacked - all IPs that are part of a hijacked netblock or a netblock controlled by a criminal organization</li> <li>malware - all IPs involved in distributing or running malware or spyware</li> <li>proxy - all IPs detected as an anonymous web proxy or anonymous HTTP proxy</li> <li>spam-bot - all IPs hosting a spam bot, comment spamming or any other spamming type software</li> <li>spider - all IPs running a hostile web spider / web crawler</li> <li>tor - all IPs that are Tor nodes or running a Tor related service</li> <li>vpn - all IPs belonging to public VPN providers (only available for Tier 3 or higher accounts)</li> </ul>",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "output-encoding",
            "in": "query",
            "description": "Set this option to 'gzip' to have the output file compressed using gzip",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "Do not download the file but just return the current files MurmurHash3 checksum. You can use this feature to check if the file has changed since a previous check",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/ip-probe": {
      "get": {
        "tags": [
          "Security and Networking"
        ],
        "summary": "IP Probe",
        "description": "Execute a realtime network probe against an IPv4 or IPv6 address",
        "operationId": "IPProbe",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "An IPv4 or IPv6 address. Accepts standard IP notation and also CIDR notation",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "194.233.98.38"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPProbeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/host-reputation": {
      "get": {
        "tags": [
          "Security and Networking"
        ],
        "summary": "Host Reputation",
        "description": "Check the reputation of an IP address, domain name or URL against a comprehensive list of blacklists and blocklists",
        "operationId": "HostReputation",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "An IP address, domain name, FQDN or URL. <br> If you supply a domain/URL it will be checked against the URI DNSBL lists",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "neutrinoapi.com"
              ]
            }
          },
          {
            "name": "list-rating",
            "in": "query",
            "description": "Only check lists with this rating or better",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 3
            }
          },
          {
            "name": "zones",
            "in": "query",
            "description": "Only check these DNSBL zones/hosts. Multiple zones can be supplied as comma-separated values",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostReputationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/email-verify": {
      "get": {
        "tags": [
          "Security and Networking"
        ],
        "summary": "Email Verify",
        "description": "SMTP based email address verification",
        "operationId": "EmailVerify",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "An email address",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "tech@neutrinoapi.com"
              ]
            }
          },
          {
            "name": "fix-typos",
            "in": "query",
            "description": "Automatically attempt to fix typos in the address",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/domain-lookup": {
      "get": {
        "tags": [
          "Security and Networking"
        ],
        "summary": "Domain Lookup",
        "description": "Retrieve domain name details and detect potentially malicious or dangerous domains",
        "operationId": "DomainLookup",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "A domain name, hostname, FQDN, URL, HTML link or email address to lookup",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "neutrinoapi.com"
              ]
            }
          },
          {
            "name": "live",
            "in": "query",
            "description": "For domains that we have never seen before then perform various live checks and realtime reconnaissance. <br> NOTE: this option may add additional non-deterministic delay to the request, if you require consistently fast API response times or just want to check our domain blocklists then you can disable this option",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/ip-blocklist": {
      "get": {
        "tags": [
          "Security and Networking"
        ],
        "summary": "IP Blocklist",
        "description": "The IP Blocklist API will detect potentially malicious or dangerous IP addresses",
        "operationId": "IPBlocklist",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "An IPv4 or IPv6 address. Accepts standard IP notation (with or without port number), CIDR notation and IPv6 compressed notation. If multiple IPs are passed using comma-separated values the first non-bogon address on the list will be checked",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "104.244.72.115"
              ]
            }
          },
          {
            "name": "vpn-lookup",
            "in": "query",
            "description": "Include public VPN provider IP addresses. <br> <b>NOTE</b>: For more advanced VPN detection including the ability to identify private and stealth VPNs use the <a href=\"https://www.neutrinoapi.com/api/ip-probe/\">IP Probe API</a>",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPBlocklistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/ip-info": {
      "get": {
        "tags": [
          "Geolocation"
        ],
        "summary": "IP Info",
        "description": "Get location information about an IP address and do reverse DNS (PTR) lookups",
        "operationId": "IPInfo",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "An IPv4 or IPv6 address. Accepts standard IP notation and also CIDR notation",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "1.1.1.1"
              ]
            }
          },
          {
            "name": "reverse-lookup",
            "in": "query",
            "description": "Do a reverse DNS (PTR) lookup. This option can add extra delay to the request so only use it if you need it",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/geocode-reverse": {
      "get": {
        "tags": [
          "Geolocation"
        ],
        "summary": "Geocode Reverse",
        "description": "Convert a geographic coordinate (latitude and longitude) into a real world address",
        "operationId": "GeocodeReverse",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "description": "The location latitude in decimal degrees format",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "-41.2775847"
              ]
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "The location longitude in decimal degrees format",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "174.7775229"
              ]
            }
          },
          {
            "name": "language-code",
            "in": "query",
            "description": "The language to display results in, available languages are: <ul> <li>ar, de, en, es, fr, it, ja, nl, pt, ru, zh</li> </ul>",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "description": "The zoom level to respond with: <br> <ul> <li>address - the most precise address available</li> <li>street - the street level</li> <li>city - the city level</li> <li>state - the state level</li> <li>country - the country level</li> </ul>",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "address"
            }
          },
          {
            "name": "geohash",
            "in": "query",
            "description": "Reverse lookup by a geohash instead of using latitude and longitude",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeReverseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/geocode-address": {
      "get": {
        "tags": [
          "Geolocation"
        ],
        "summary": "Geocode Address",
        "description": "Geocode an address, partial address or just the name of a place",
        "operationId": "GeocodeAddress",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The full address, partial address or name of a place to try and locate. Comma separated address components are preferred.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "1 Molesworth Street, Thorndon, Wellington 6011"
              ]
            }
          },
          {
            "name": "house-number",
            "in": "query",
            "description": "The house/building number to locate (for structured address searches)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "description": "The street/road name to locate (for structured address searches)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "The city/town name to locate (for structured address searches)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "query",
            "description": "The county/region name to locate (for structured address searches)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state name to locate (for structured address searches)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postal-code",
            "in": "query",
            "description": "The postal code to locate (for structured address searches)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country-code",
            "in": "query",
            "description": "Prefer results from this country code (the default is no country bias)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country-codes",
            "in": "query",
            "description": "Prefer results from this list of country codes (space or comma separated values). Preference is in the order supplied, you can use the 'country-code' parameter to also set a dynamic or user supplied country code which takes precedence",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language-code",
            "in": "query",
            "description": "The language to display results in, available languages are: <ul> <li>ar, de, en, es, fr, it, ja, nl, pt, ru, zh</li> </ul>",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "auto-complete",
            "in": "query",
            "description": "Enable auto-complete for search-as-you-type and search suggestions. This option can find addresses based on partial search terms, combine with 'country-code' for country specific searches. Auto-complete works best with 'fuzzy-search' disabled for the fastest response times but can be combined if required",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fuzzy-search",
            "in": "query",
            "description": "If no matches are found for the given address, start performing a recursive fuzzy search until a geolocation is found. This option is useful for processing user supplied input that may be incomplete or have typos and where you do not mind some potential loss in precision",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit search results to this many locations (between 1 and a maximum of 32)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/bin-list-download": {
      "get": {
        "tags": [
          "E-commerce"
        ],
        "summary": "BIN List Download",
        "description": "Download our entire BIN database for direct use on your own systems",
        "operationId": "BINListDownload",
        "parameters": [
          {
            "name": "include-iso3",
            "in": "query",
            "description": "Include ISO 3-letter country codes and ISO 3-letter currency codes in the data. These will be added to columns 10 and 11 respectively",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-8digit",
            "in": "query",
            "description": "Include 8-digit and higher BIN codes. This option includes all 6-digit BINs and all 8-digit and higher BINs (including some 9, 10 and 11 digit BINs where available)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-all",
            "in": "query",
            "description": "Include all BINs and all available fields in the CSV file (overrides any values set for 'include-iso3' or 'include-8digit')",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "output-encoding",
            "in": "query",
            "description": "Set this option to 'gzip' to have the output file compressed using gzip",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/convert": {
      "get": {
        "tags": [
          "E-commerce"
        ],
        "summary": "Convert",
        "description": "A currency and unit conversion tool",
        "operationId": "Convert",
        "parameters": [
          {
            "name": "from-value",
            "in": "query",
            "description": "The value to convert from (e.g. 10.95)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "100"
              ]
            }
          },
          {
            "name": "from-type",
            "in": "query",
            "description": "The type of the value to convert from (e.g. USD)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "USD"
              ]
            }
          },
          {
            "name": "to-type",
            "in": "query",
            "description": "The type to convert to (e.g. EUR)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "EUR"
              ]
            }
          },
          {
            "name": "historical-date",
            "in": "query",
            "description": "Convert using the rate on a historical date, accepted date formats are: YYYY-MM-DD, YYYY-MM, YYYY. Historical rates are stored with daily granularity so the date format YYYY-MM-DD is preferred for the highest precision. If an invalid date or a date too far into the past is supplied then the API will respond with 'valid' as false and an empty 'historical-date'",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "content": {
              "application/json": {
[...]
