{
  "swagger": "2.0",
  "info": {
    "version": "3.7.2",
    "title": "Neutrino API",
    "description": "The general-purpose API",
    "contact": {
      "email": "tech@neutrinoapi.com",
      "name": "Neutrino API",
      "url": "https://www.neutrinoapi.com/"
    }
  },
  "host": "neutrinoapi.net",
  "basePath": "/",
  "securityDefinitions": {
    "user-id": {
      "type": "apiKey",
      "description": "Your user ID",
      "name": "user-id",
      "in": "header"
    },
    "api-key": {
      "type": "apiKey",
      "description": "One of your API keys",
      "name": "api-key",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/html-render": {
      "post": {
        "description": "Render HTML content to PDF, JPG or PNG",
        "summary": "HTML Render",
        "tags": [
          "Imaging"
        ],
        "operationId": "HTMLRender",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The HTML content. This can be either a URL to load from, a file upload (multipart/form-data) or an HTML content string"
          },
          {
            "name": "format",
            "in": "formData",
            "required": false,
            "default": "PDF",
            "type": "string",
            "description": "Which format to output, available options are: PDF, PNG, JPG"
          },
          {
            "name": "page-size",
            "in": "formData",
            "required": false,
            "default": "A4",
            "type": "string",
            "description": "Set the document page size, can be one of: A0 - A9, B0 - B10, Comm10E, DLE or Letter"
          },
          {
            "name": "title",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The document title"
          },
          {
            "name": "margin",
            "in": "formData",
            "required": false,
            "default": 0.0,
            "type": "number",
            "format": "double",
            "description": "The document margin (in mm)"
          },
          {
            "name": "margin-left",
            "in": "formData",
            "required": false,
            "default": 0.0,
            "type": "number",
            "format": "double",
            "description": "The document left margin (in mm)"
          },
          {
            "name": "margin-right",
            "in": "formData",
            "required": false,
            "default": 0.0,
            "type": "number",
            "format": "double",
            "description": "The document right margin (in mm)"
          },
          {
            "name": "margin-top",
            "in": "formData",
            "required": false,
            "default": 0.0,
            "type": "number",
            "format": "double",
            "description": "The document top margin (in mm)"
          },
          {
            "name": "margin-bottom",
            "in": "formData",
            "required": false,
            "default": 0.0,
            "type": "number",
            "format": "double",
            "description": "The document bottom margin (in mm)"
          },
          {
            "name": "landscape",
            "in": "formData",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Set the document to landscape orientation"
          },
          {
            "name": "zoom",
            "in": "formData",
            "required": false,
            "default": 1.0,
            "type": "number",
            "format": "double",
            "description": "Set the zoom factor when rendering the page (2.0 for double size, 0.5 for half size)"
          },
          {
            "name": "grayscale",
            "in": "formData",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Render the final document in grayscale"
          },
          {
            "name": "css",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Inject custom CSS into the HTML. e.g. 'body { background-color: red;}'"
          },
          {
            "name": "image-width",
            "in": "formData",
            "required": false,
            "default": 1024,
            "type": "integer",
            "format": "int32",
            "description": "If rendering to an image format (PNG or JPG) use this image width (in pixels)"
          },
          {
            "name": "image-height",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "If rendering to an image format (PNG or JPG) use this image height (in pixels). The default is automatic which dynamically sets the image height based on the content"
          },
          {
            "name": "delay",
            "in": "formData",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": "Number of seconds to wait before rendering the page (can be useful for pages with animations etc)"
          },
          {
            "name": "page-width",
            "in": "formData",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Set the PDF page width explicitly (in mm)"
          },
          {
            "name": "page-height",
            "in": "formData",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Set the PDF page height explicitly (in mm)"
          },
          {
            "name": "timeout",
            "in": "formData",
            "required": false,
            "default": 300,
            "type": "integer",
            "format": "int32",
            "description": "Timeout in seconds. Give up if still trying to load the HTML content after this number of seconds"
          },
          {
            "name": "ignore-certificate-errors",
            "in": "formData",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Ignore any TLS/SSL certificate errors"
          },
          {
            "name": "header",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The header HTML to insert into each page. The following dynamic tags are supported: {date}, {title}, {url}, {pageNumber}, {totalPages}"
          },
          {
            "name": "footer",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The footer HTML to insert into each page. The following dynamic tags are supported: {date}, {title}, {url}, {pageNumber}, {totalPages}"
          },
          {
            "name": "bg-color",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "For image rendering set the background color in hexadecimal notation (e.g. #0000ff). For PNG output the special value of 'transparent' can be used to create a transparent PNG"
          },
          {
            "name": "exec",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Execute JavaScript on the website. This parameter accepts JavaScript as either a string containing JavaScript or for sending multiple separate statements a JSON array or POST array can also be used. You can also use the following specially defined user interaction functions: <br> <div> sleep(seconds); Just wait/sleep for the specified number of seconds. <br> click('selector'); Click on the first element matching the given selector. <br> focus('selector'); Focus on the first element matching the given selector. <br> keys('characters'); Send the specified keyboard characters. Use click() or focus() first to send keys to a specific element. <br> enter(); Send the Enter key. <br> tab(); Send the Tab key. <br> </div>"
          },
          {
            "name": "user-agent",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Override the browsers default user-agent string with this one"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/image-watermark": {
      "post": {
        "description": "Watermark one image with another image",
        "summary": "Image Watermark",
        "tags": [
          "Imaging"
        ],
        "operationId": "ImageWatermark",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "image-url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL or Base64 encoded Data URL for the source image. You can also upload an image file directly using multipart/form-data"
          },
          {
            "name": "watermark-url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL or Base64 encoded Data URL for the watermark image. You can also upload an image file directly using multipart/form-data"
          },
          {
            "name": "opacity",
            "in": "formData",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The opacity of the watermark (0 to 100)"
          },
          {
            "name": "format",
            "in": "formData",
            "required": false,
            "default": "png",
            "type": "string",
            "description": "The output image format, can be either png or jpg"
          },
          {
            "name": "position",
            "in": "formData",
            "required": false,
            "default": "center",
            "type": "string",
            "description": "The position of the watermark image, possible values are: <br> center, top-left, top-center, top-right, bottom-left, bottom-center, bottom-right"
          },
          {
            "name": "width",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "If set resize the resulting image to this width (in px)"
          },
          {
            "name": "height",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "If set resize the resulting image to this height (in px)"
          },
          {
            "name": "resize-mode",
            "in": "formData",
            "required": false,
            "default": "scale",
            "type": "string",
            "description": "The resize mode to use, we support 3 main resizing modes: <ul> <li><b>scale</b> <br> Resize to within the width and height specified while preserving aspect ratio. In this mode the width or height will be automatically adjusted to fit the aspect ratio</li> <li><b>pad</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and pad any space left over. Any padded space will be filled in with the 'bg-color' value</li> <li><b>crop</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and crop any space which fall outside the area. The cropping window is centered on the original image</li> </ul>"
          },
          {
            "name": "bg-color",
            "in": "formData",
            "required": false,
            "default": "transparent",
            "type": "string",
            "description": "The image background color in hexadecimal notation (e.g. #0000ff). For PNG output the special value of 'transparent' can also be used. For JPG output the default is black (#000000)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/qr-code": {
      "post": {
        "description": "Generate a QR code as a PNG image",
        "summary": "QR Code",
        "tags": [
          "Imaging"
        ],
        "operationId": "QRCode",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The content to encode into the QR code (e.g. a URL or a phone number)"
          },
          {
            "name": "width",
            "in": "formData",
            "required": false,
            "default": 256,
            "type": "integer",
            "format": "int32",
            "description": "The width of the QR code (in px)"
          },
          {
            "name": "height",
            "in": "formData",
            "required": false,
            "default": 256,
            "type": "integer",
            "format": "int32",
            "description": "The height of the QR code (in px)"
          },
          {
            "name": "fg-color",
            "in": "formData",
            "required": false,
            "default": "#000000",
            "type": "string",
            "description": "The QR code foreground color"
          },
          {
            "name": "bg-color",
            "in": "formData",
            "required": false,
            "default": "#ffffff",
            "type": "string",
            "description": "The QR code background color"
          },
          {
            "name": "code-format",
            "in": "formData",
            "required": false,
            "default": "qr",
            "type": "string",
            "description": "The barcode format to output. Accepted formats are: qr, c128"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/image-resize": {
      "post": {
        "description": "Resize an image and output as either JPEG or PNG",
        "summary": "Image Resize",
        "tags": [
          "Imaging"
        ],
        "operationId": "ImageResize",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "image-url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL or Base64 encoded Data URL for the source image. You can also upload an image file directly using multipart/form-data"
          },
          {
            "name": "width",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The width to resize to (in px)"
          },
          {
            "name": "height",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The height to resize to (in px). If you don't set this field then the height will be automatic based on the requested width and image aspect ratio"
          },
          {
            "name": "format",
            "in": "formData",
            "required": false,
            "default": "png",
            "type": "string",
            "description": "The output image format, can be either png or jpg"
          },
          {
            "name": "resize-mode",
            "in": "formData",
            "required": false,
            "default": "scale",
            "type": "string",
            "description": "The resize mode to use, we support 3 main resizing modes: <ul> <li><b>scale</b> <br> Resize to within the width and height specified while preserving aspect ratio. In this mode the width or height will be automatically adjusted to fit the aspect ratio</li> <li><b>pad</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and pad any space left over. Any padded space will be filled in with the 'bg-color' value</li> <li><b>crop</b> <br> Resize to exactly the width and height specified while preserving aspect ratio and crop any space which fall outside the area. The cropping window is centered on the original image</li> </ul>"
          },
          {
            "name": "bg-color",
            "in": "formData",
            "required": false,
            "default": "transparent",
            "type": "string",
            "description": "The image background color in hexadecimal notation (e.g. #0000ff). For PNG output the special value of 'transparent' can also be used. For JPG output the default is black (#000000)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/sms-verify": {
      "post": {
        "description": "Send a unique security code to any mobile device via SMS",
        "summary": "SMS Verify",
        "tags": [
          "Telephony"
        ],
        "operationId": "SMSVerify",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The phone number to send a verification code to"
          },
          {
            "name": "code-length",
            "in": "formData",
            "required": false,
            "default": 5,
            "type": "integer",
            "format": "int32",
            "description": "The number of digits to use in the security code (must be between 4 and 12)"
          },
          {
            "name": "security-code",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code"
          },
          {
            "name": "country-code",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "ISO 2-letter country code, assume numbers are based in this country. <br> If not set numbers are assumed to be in international format (with or without the leading + sign)"
          },
          {
            "name": "language-code",
            "in": "formData",
            "required": false,
            "default": "en",
            "type": "string",
            "description": "The language to send the verification code in, available languages are: <ul> <li>de - German</li> <li>en - English</li> <li>es - Spanish</li> <li>fr - French</li> <li>it - Italian</li> <li>pt - Portuguese</li> <li>ru - Russian</li> </ul>"
          },
          {
            "name": "limit",
            "in": "formData",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "description": "Limit the total number of SMS allowed to the supplied phone number, if the limit is reached within the TTL then error code 14 will be returned"
          },
          {
            "name": "limit-ttl",
            "in": "formData",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Set the TTL in number of days that the 'limit' option will remember a phone number (the default is 1 day and the maximum is 365 days)"
          },
          {
            "name": "brand-name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Set a custom brand or product name in the verification message"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SMSVerifyResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/phone-playback": {
      "post": {
        "description": "Make an automated call to any valid phone number and playback an audio message",
        "summary": "Phone Playback",
        "tags": [
          "Telephony"
        ],
        "operationId": "PhonePlayback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The phone number to call. Must be in valid international format"
          },
          {
            "name": "audio-url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "A URL to a valid audio file. Accepted audio formats are: <ul> <li>MP3</li> <li>WAV</li> <li>OGG</li> </ul> You can use the following MP3 URL for testing: <br> https://www.neutrinoapi.com/test-files/test1.mp3"
          },
          {
            "name": "limit",
            "in": "formData",
            "required": false,
            "default": 3,
            "type": "integer",
            "format": "int32",
            "description": "Limit the total number of calls allowed to the supplied phone number, if the limit is reached within the TTL then error code 14 will be returned"
          },
          {
            "name": "limit-ttl",
            "in": "formData",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Set the TTL in number of days that the 'limit' option will remember a phone number (the default is 1 day and the maximum is 365 days)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PhonePlaybackResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/hlr-lookup": {
      "get": {
        "description": "Connect to the global mobile cellular network and retrieve the status of a mobile device",
        "summary": "HLR Lookup",
        "tags": [
          "Telephony"
        ],
        "operationId": "HLRLookup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A phone number"
          },
          {
            "name": "country-code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO 2-letter country code, assume numbers are based in this country. <br> If not set numbers are assumed to be in international format (with or without the leading + sign)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/HLRLookupResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/verify-security-code": {
      "get": {
        "description": "Check if a security code sent via SMS Verify or Phone Verify is valid",
        "summary": "Verify Security Code",
        "tags": [
          "Telephony"
        ],
        "operationId": "VerifySecurityCode",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "security-code",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The security code to verify"
          },
          {
            "name": "limit-by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If set then enable additional brute-force protection by limiting the number of attempts by the supplied value. This can be set to any unique identifier you would like to limit by, for example a hash of the users email, phone number or IP address. Requests to this API will be ignored after approximately 10 failed verification attempts"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/VerifySecurityCodeResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/phone-verify": {
      "post": {
        "description": "Make an automated call to any valid phone number and playback a unique security code",
        "summary": "Phone Verify",
        "tags": [
          "Telephony"
        ],
        "operationId": "PhoneVerify",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The phone number to send the verification code to"
          },
          {
            "name": "code-length",
            "in": "formData",
            "required": false,
            "default": 6,
            "type": "integer",
            "format": "int32",
            "description": "The number of digits to use in the security code (between 4 and 12)"
          },
          {
            "name": "security-code",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code"
          },
          {
            "name": "playback-delay",
            "in": "formData",
            "required": false,
            "default": 800,
            "type": "integer",
            "format": "int32",
            "description": "The delay in milliseconds between the playback of each security code"
          },
          {
            "name": "country-code",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "ISO 2-letter country code, assume numbers are based in this country. <br> If not set numbers are assumed to be in international format (with or without the leading + sign)"
          },
          {
            "name": "language-code",
            "in": "formData",
            "required": false,
            "default": "en",
            "type": "string",
            "description": "The language to playback the verification code in, available languages are: <ul> <li>de - German</li> <li>en - English</li> <li>es - Spanish</li> <li>fr - French</li> <li>it - Italian</li> <li>pt - Portuguese</li> <li>ru - Russian</li> </ul>"
          },
          {
            "name": "limit",
            "in": "formData",
            "required": false,
            "default": 3,
            "type": "integer",
            "format": "int32",
            "description": "Limit the total number of calls allowed to the supplied phone number, if the limit is reached within the TTL then error code 14 will be returned"
          },
          {
            "name": "limit-ttl",
            "in": "formData",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Set the TTL in number of days that the 'limit' option will remember a phone number (the default is 1 day and the maximum is 365 days)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PhoneVerifyResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/email-validate": {
      "get": {
        "description": "Parse, validate and clean an email address",
        "summary": "Email Validate",
        "tags": [
          "Data Tools"
        ],
        "operationId": "EmailValidate",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "An email address"
          },
          {
            "name": "fix-typos",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Automatically attempt to fix typos in the address"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmailValidateResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/bad-word-filter": {
      "post": {
        "description": "Detect bad words, swear words and profanity in a given text",
        "summary": "Bad Word Filter",
        "tags": [
          "Data Tools"
        ],
        "operationId": "BadWordFilter",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The content to scan. This can be either a URL to load from, a file upload (multipart/form-data) or an HTML content string"
          },
          {
            "name": "censor-character",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The character to use to censor out the bad words found"
          },
          {
            "name": "catalog",
            "in": "formData",
            "required": false,
            "default": "strict",
            "type": "string",
            "description": "Which catalog of bad words to use, we currently maintain two bad word catalogs: <br> <ul> <li>strict - the largest database of bad words which includes profanity, obscenity, sexual, rude, cuss, dirty, swear and objectionable words and phrases. This catalog is suitable for environments of all ages including educational or children's content</li> <li>obscene - like the strict catalog but does not include any mild profanities, idiomatic phrases or words which are considered formal terminology. This catalog is suitable for adult environments where certain types of bad words are considered OK</li> </ul>"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BadWordFilterResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/ua-lookup": {
      "get": {
        "description": "Parse, validate and get detailed user-agent information from a user agent string or from client hints",
        "summary": "UA Lookup",
        "tags": [
          "Data Tools"
        ],
        "operationId": "UALookup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ua",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The user-agent string to lookup. For client hints this corresponds to the 'sec-ch-ua' header or you can also pass the JSON data directly from the 'navigator.userAgentData.getHighEntropyValues()' JavaScript API"
          },
          {
            "name": "ua-version",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-full-version' header"
          },
          {
            "name": "ua-platform",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-platform' header"
          },
          {
            "name": "ua-platform-version",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-platform-version' header"
          },
          {
            "name": "ua-mobile",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-mobile' header"
          },
          {
            "name": "device-model",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-model' header. <br> You can also use this parameter to lookup a device directly by its model name, model code or hardware code, on android you can get the model name from: https://developer.android.com/reference/android/os/Build.html#MODEL"
          },
          {
            "name": "device-brand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter is only used in combination with 'device-model' for direct device lookups without any user-agent data. Set this to the brand or manufacturer name, this is required for accurate device detection with ambiguous model names. On android you can get the device brand from: https://developer.android.com/reference/android/os/Build#MANUFACTURER"
          },
          {
            "name": "ua-arch",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-arch' header"
          },
          {
            "name": "ua-bitness",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-bitness' header"
          },
          {
            "name": "ua-form-factors",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For client hints this corresponds to the 'sec-ch-ua-form-factors' header"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UALookupResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/phone-validate": {
      "get": {
        "description": "Parse, validate and get location information about a phone number",
        "summary": "Phone Validate",
        "tags": [
          "Data Tools"
        ],
        "operationId": "PhoneValidate",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A phone number. This can be in international format (E.164) or local format. If passing local format you must also set either the 'country-code' OR 'ip' options as well"
          },
          {
            "name": "country-code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)"
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Pass in a users IP address and we will assume numbers are based in the country of the IP address"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PhoneValidateResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/ip-blocklist-download": {
      "get": {
        "description": "This API is a direct feed to our IP blocklist data",
        "summary": "IP Blocklist Download",
        "tags": [
          "Security and Networking"
        ],
        "operationId": "IPBlocklistDownload",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "default": "csv",
            "type": "string",
            "description": "The data format. Can be either CSV or TXT"
          },
          {
            "name": "cidr",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Output IPs using CIDR notation. This option should be preferred but is off by default for backwards compatibility"
          },
          {
            "name": "ip6",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Output the IPv6 version of the blocklist, the default is to output IPv4 only. Note that this option enables CIDR notation too as this is the only notation currently supported for IPv6"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "default": "all",
            "type": "string",
            "description": "The category of IP addresses to include in the download file, possible values are: <br> <ul> <li>all - all IPs available on your current plan (excludes VPN providers for any plans lower than Tier 3)</li> <li>bot - all IPs hosting a malicious bot or part of a botnet. This is a broad category which includes brute-force crackers</li> <li>exploit-bot - all IPs hosting an exploit finding bot or running exploit scanning software</li> <li>hijacked - all IPs that are part of a hijacked netblock or a netblock controlled by a criminal organization</li> <li>malware - all IPs involved in distributing or running malware or spyware</li> <li>proxy - all IPs detected as an anonymous web proxy or anonymous HTTP proxy</li> <li>spam-bot - all IPs hosting a spam bot, comment spamming or any other spamming type software</li> <li>spider - all IPs running a hostile web spider / web crawler</li> <li>tor - all IPs that are Tor nodes or running a Tor related service</li> <li>vpn - all IPs belonging to public VPN providers (only available for Tier 3 or higher accounts)</li> </ul>"
          },
          {
            "name": "output-encoding",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Set this option to 'gzip' to have the output file compressed using gzip"
          },
          {
            "name": "checksum",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Do not download the file but just return the current files MurmurHash3 checksum. You can use this feature to check if the file has changed since a previous check"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/ip-probe": {
      "get": {
        "description": "Execute a realtime network probe against an IPv4 or IPv6 address",
        "summary": "IP Probe",
        "tags": [
          "Security and Networking"
        ],
        "operationId": "IPProbe",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "An IPv4 or IPv6 address. Accepts standard IP notation and also CIDR notation"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IPProbeResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/host-reputation": {
      "get": {
        "description": "Check the reputation of an IP address, domain name or URL against a comprehensive list of blacklists and blocklists",
        "summary": "Host Reputation",
        "tags": [
          "Security and Networking"
        ],
        "operationId": "HostReputation",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "An IP address, domain name, FQDN or URL. <br> If you supply a domain/URL it will be checked against the URI DNSBL lists"
          },
          {
            "name": "list-rating",
            "in": "query",
            "required": false,
            "default": 3,
            "type": "integer",
            "format": "int32",
            "description": "Only check lists with this rating or better"
          },
          {
            "name": "zones",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only check these DNSBL zones/hosts. Multiple zones can be supplied as comma-separated values"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/HostReputationResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/email-verify": {
      "get": {
        "description": "SMTP based email address verification",
        "summary": "Email Verify",
        "tags": [
          "Security and Networking"
        ],
        "operationId": "EmailVerify",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "An email address"
          },
          {
            "name": "fix-typos",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Automatically attempt to fix typos in the address"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmailVerifyResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/domain-lookup": {
      "get": {
        "description": "Retrieve domain name details and detect potentially malicious or dangerous domains",
        "summary": "Domain Lookup",
        "tags": [
          "Security and Networking"
        ],
        "operationId": "DomainLookup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A domain name, hostname, FQDN, URL, HTML link or email address to lookup"
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "For domains that we have never seen before then perform various live checks and realtime reconnaissance. <br> NOTE: this option may add additional non-deterministic delay to the request, if you require consistently fast API response times or just want to check our domain blocklists then you can disable this option"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DomainLookupResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/ip-blocklist": {
      "get": {
        "description": "The IP Blocklist API will detect potentially malicious or dangerous IP addresses",
        "summary": "IP Blocklist",
        "tags": [
          "Security and Networking"
        ],
        "operationId": "IPBlocklist",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "An IPv4 or IPv6 address. Accepts standard IP notation (with or without port number), CIDR notation and IPv6 compressed notation. If multiple IPs are passed using comma-separated values the first non-bogon address on the list will be checked"
          },
          {
            "name": "vpn-lookup",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Include public VPN provider IP addresses. <br> <b>NOTE</b>: For more advanced VPN detection including the ability to identify private and stealth VPNs use the <a href=\"https://www.neutrinoapi.com/api/ip-probe/\">IP Probe API</a>"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IPBlocklistResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/ip-info": {
      "get": {
        "description": "Get location information about an IP address and do reverse DNS (PTR) lookups",
        "summary": "IP Info",
        "tags": [
          "Geolocation"
        ],
        "operationId": "IPInfo",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "An IPv4 or IPv6 address. Accepts standard IP notation and also CIDR notation"
          },
          {
            "name": "reverse-lookup",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Do a reverse DNS (PTR) lookup. This option can add extra delay to the request so only use it if you need it"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IPInfoResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/geocode-reverse": {
      "get": {
        "description": "Convert a geographic coordinate (latitude and longitude) into a real world address",
        "summary": "Geocode Reverse",
        "tags": [
          "Geolocation"
        ],
        "operationId": "GeocodeReverse",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The location latitude in decimal degrees format"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The location longitude in decimal degrees format"
          },
          {
            "name": "language-code",
            "in": "query",
            "required": false,
            "default": "en",
            "type": "string",
            "description": "The language to display results in, available languages are: <ul> <li>ar, de, en, es, fr, it, ja, nl, pt, ru, zh</li> </ul>"
          },
          {
            "name": "zoom",
            "in": "query",
            "required": false,
            "default": "address",
            "type": "string",
            "description": "The zoom level to respond with: <br> <ul> <li>address - the most precise address available</li> <li>street - the street level</li> <li>city - the city level</li> <li>state - the state level</li> <li>country - the country level</li> </ul>"
          },
          {
            "name": "geohash",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Reverse lookup by a geohash instead of using latitude and longitude"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GeocodeReverseResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/geocode-address": {
      "get": {
        "description": "Geocode an address, partial address or just the name of a place",
        "summary": "Geocode Address",
        "tags": [
          "Geolocation"
        ],
        "operationId": "GeocodeAddress",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The full address, partial address or name of a place to try and locate. Comma separated address components are preferred."
          },
          {
            "name": "house-number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The house/building number to locate (for structured address searches)"
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The street/road name to locate (for structured address searches)"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The city/town name to locate (for structured address searches)"
          },
          {
            "name": "county",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The county/region name to locate (for structured address searches)"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The state name to locate (for structured address searches)"
          },
          {
            "name": "postal-code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The postal code to locate (for structured address searches)"
          },
          {
            "name": "country-code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Prefer results from this country code (the default is no country bias)"
          },
          {
            "name": "language-code",
            "in": "query",
            "required": false,
            "default": "en",
            "type": "string",
            "description": "The language to display results in, available languages are: <ul> <li>ar, de, en, es, fr, it, ja, nl, pt, ru, zh</li> </ul>"
          },
          {
            "name": "fuzzy-search",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "If no matches are found for the given address, start performing a recursive fuzzy search until a geolocation is found. This option is useful for processing user supplied input that may be incomplete or have typos and where you do not mind some potential loss in precision"
          },
          {
            "name": "country-codes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Prefer results from this list of country codes (space or comma separated values). Preference is in the order supplied, you can use the 'country-code' parameter to also set a dynamic or user supplied country code which takes precedence"
          },
          {
            "name": "auto-complete",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Enable auto-complete for search-as-you-type and search suggestions. This option can find addresses based on partial search terms, combine with 'country-code' for country specific searches. Auto-complete works best with 'fuzzy-search' disabled for the fastest response times but can be combined if required"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 8,
            "type": "integer",
            "format": "int32",
            "description": "Limit search results to this many locations (between 1 and a maximum of 32)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GeocodeAddressResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/bin-list-download": {
      "get": {
        "description": "Download our entire BIN database for direct use on your own systems",
        "summary": "BIN List Download",
        "tags": [
          "E-commerce"
        ],
        "operationId": "BINListDownload",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "include-iso3",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Include ISO 3-letter country codes and ISO 3-letter currency codes in the data. These will be added to columns 10 and 11 respectively"
          },
          {
            "name": "include-8digit",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Include 8-digit and higher BIN codes. This option includes all 6-digit BINs and all 8-digit and higher BINs (including some 9, 10 and 11 digit BINs where available)"
          },
          {
            "name": "include-all",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Include all BINs and all available fields in the CSV file (overrides any values set for 'include-iso3' or 'include-8digit')"
          },
          {
            "name": "output-encoding",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Set this option to 'gzip' to have the output file compressed using gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/convert": {
      "get": {
        "description": "A currency and unit conversion tool",
        "summary": "Convert",
        "tags": [
          "E-commerce"
        ],
        "operationId": "Convert",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from-value",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The value to convert from (e.g. 10.95)"
          },
          {
            "name": "from-type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The type of the value to convert from (e.g. USD)"
          },
          {
            "name": "to-type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The type to convert to (e.g. EUR)"
          },
          {
            "name": "historical-date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Convert using the rate on a historical date, accepted date formats are: YYYY-MM-DD, YYYY-MM, YYYY. Historical rates are stored with daily granularity so the date format YYYY-MM-DD is preferred for the highest precision. If an invalid date or a date too far into the past is supplied then the API will respond with 'valid' as false and an empty 'historical-date'"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConvertResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/bin-lookup": {
      "get": {
        "description": "Perform a BIN (Bank Identification Number) or IIN (Issuer Identification Number) lookup",
        "summary": "BIN Lookup",
        "tags": [
          "E-commerce"
        ],
        "operationId": "BINLookup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bin-number",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The BIN or IIN number. This is the first 6, 8 or 10 digits of a card number, use 8 (or more) digits for the highest level of accuracy"
          },
          {
            "name": "customer-ip",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Pass in the customers IP address and we will return some extra information about them"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BINLookupResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/html-clean": {
      "post": {
        "description": "Clean and sanitize untrusted HTML",
        "summary": "HTML Clean",
        "tags": [
          "WWW"
        ],
        "operationId": "HTMLClean",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The HTML content. This can be either a URL to load from, a file upload (multipart/form-data) or an HTML content string"
          },
          {
            "name": "output-type",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The level of sanitization, possible values are: <br> <b>plain-text</b>: reduce the content to plain text only (no HTML tags at all) <br> <b>simple-text</b>: allow only very basic text formatting tags like b, em, i, strong, u <br> <b>basic-html</b>: allow advanced text formatting and hyper links <br> <b>basic-html-with-images</b>: same as basic html but also allows image tags <br> <b>advanced-html</b>: same as basic html with images but also allows many more common HTML tags like table, ul, dl, pre <br>"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/url-info": {
      "get": {
        "description": "Parse, analyze and retrieve content from the supplied URL",
        "summary": "URL Info",
        "tags": [
          "WWW"
        ],
        "operationId": "URLInfo",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The URL to probe"
          },
          {
            "name": "fetch-content",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "If this URL responds with html, text, json or xml then return the response. This option is useful if you want to perform further processing on the URL content (e.g. with the HTML Extract or HTML Clean APIs)"
          },
          {
            "name": "ignore-certificate-errors",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Ignore any TLS/SSL certificate errors and load the URL anyway"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "default": 60,
            "type": "integer",
            "format": "int32",
            "description": "Timeout in seconds. Give up if still trying to load the URL after this number of seconds"
          },
          {
            "name": "retry",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": "If the request fails for any reason try again this many times"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/URLInfoResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/browser-bot": {
      "post": {
        "description": "Browser bot can extract content, interact with keyboard and mouse events, and execute JavaScript on a website",
        "summary": "Browser Bot",
        "tags": [
          "WWW"
        ],
        "operationId": "BrowserBot",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL to load"
          },
          {
            "name": "timeout",
            "in": "formData",
            "required": false,
            "default": 30,
            "type": "integer",
            "format": "int32",
            "description": "Timeout in seconds. Give up if still trying to load the page after this number of seconds"
          },
          {
            "name": "delay",
            "in": "formData",
            "required": false,
            "default": 3,
            "type": "integer",
            "format": "int32",
            "description": "Delay in seconds to wait before capturing any page data, executing selectors or JavaScript"
          },
          {
            "name": "selector",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Extract content from the page DOM using this selector. Commonly known as a CSS selector, you can find a good reference <a href=\"https://www.w3schools.com/cssref/css_selectors.asp\">here</a>"
          },
          {
            "name": "exec",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Execute JavaScript on the website. This parameter accepts JavaScript as either a string containing JavaScript or for sending multiple separate statements a JSON array or POST array can also be used. If a statement returns any value it will be returned in the 'exec-results' response. You can also use the following specially defined user interaction functions: <br> <div> sleep(seconds); Just wait/sleep for the specified number of seconds. <br> click('selector'); Click on the first element matching the given selector. <br> focus('selector'); Focus on the first element matching the given selector. <br> keys('characters'); Send the specified keyboard characters. Use click() or focus() first to send keys to a specific element. <br> enter(); Send the Enter key. <br> tab(); Send the Tab key. <br> </div>"
          },
          {
            "name": "user-agent",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Override the browsers default user-agent string with this one"
          },
          {
            "name": "ignore-certificate-errors",
            "in": "formData",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Ignore any TLS/SSL certificate errors and load the page anyway"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BrowserBotResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Your API request has been rejected. Check error code for details",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "You have failed to authenticate",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "We messed up, sorry! Your request has caused a fatal exception",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "default": {
            "description": "We messed up, sorry! Your request has caused an error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "IPProbeResponse": {
      "title": "IPProbeResponse",
      "description": "Structure of ip-probe",
      "example": {
        "as-age": 35,
        "as-cidr": "194.233.98.0/24",
        "as-country-code": "GB",
        "as-country-code3": "GBR",
        "as-description": "CDNEXT, GB, Packethub S.A",
        "as-domains": [
          "sh.cz",
          "superhosting.cz",
          "datacamp.co.uk",
          "cdn77.com",
          "heficed.com",
          "packethub.tech"
        ],
        "asn": "212238",
        "city": "Atlanta",
        "continent-code": "NA",
        "country": "United States of America",
        "country-code": "US",
        "country-code3": "USA",
        "currency-code": "USD",
        "host-domain": "",
        "hostname": "",
        "ip": "194.233.98.38",
        "is-bogon": false,
        "is-hosting": true,
        "is-isp": false,
        "is-proxy": false,
        "is-v4-mapped": false,
        "is-v6": false,
        "is-vpn": true,
        "provider-description": "Dedikované servery, managed servery a server hosting: Řešení pro náročné zákazníky. Servery poskytujeme přes 18 let a pečujeme o více než třetinu českého internetu. Proto nám důvěřují nejnavštěvovanější weby",
        "provider-domain": "sh.cz",
        "provider-type": "vpn",
        "provider-website": "https://www.sh.cz/",
        "region": "Georgia",
        "region-code": "GA",
        "valid": true,
        "vpn-domain": ""
      },
      "type": "object",
      "properties": {
        "valid": {
          "description": "True if this is a valid IPv4 or IPv6 address",
          "type": "boolean"
        },
        "country": {
          "description": "Full country name",
          "type": "string"
        },
        "provider-type": {
          "description": "The detected provider type, possible values are: <br> <ul> <li>isp - IP belongs to an internet service provider. This includes both mobile, home and business internet providers</li> <li>hosting - IP belongs to a hosting company. This includes website hosting, cloud computing platforms and colocation facilities</li> <li>vpn - IP belongs to a VPN provider</li> <li>proxy - IP belongs to a proxy service. This includes HTTP/SOCKS proxies and browser based proxies</li> <li>university - IP belongs to a university/college/campus</li> <li>government - IP belongs to a government department. This includes military facilities</li> <li>commercial - IP belongs to a commercial entity such as a corporate headquarters or company office</li> <li>unknown - could not identify the provider type</li> </ul>",
          "type": "string"
        },
        "country-code": {
          "description": "ISO 2-letter country code",
          "type": "string"
        },
        "hostname": {
          "description": "The IPs full hostname (PTR)",
          "type": "string"
        },
        "provider-domain": {
          "description": "The domain name of the provider",
          "type": "string"
        },
        "city": {
          "description": "Full city name (if detectable)",
          "type": "string"
        },
        "provider-website": {
          "description": "The website URL for the provider",
          "type": "string"
        },
        "ip": {
          "description": "The IPv4 or IPv6 address returned",
          "type": "string"
        },
        "region": {
          "description": "Full region name (if detectable)",
          "type": "string"
        },
        "provider-description": {
          "description": "A description of the provider (usually extracted from the providers website)",
          "type": "string"
        },
        "continent-code": {
          "description": "ISO 2-letter continent code",
          "type": "string"
        },
        "is-hosting": {
          "description": "True if this IP belongs to a hosting company. Note that this can still be true even if the provider type is VPN/proxy, this occurs in the case that the IP is detected as both types",
          "type": "boolean"
        },
        "is-isp": {
          "description": "True if this IP belongs to an internet service provider. Note that this can still be true even if the provider type is VPN/proxy, this occurs in the case that the IP is detected as both types",
          "type": "boolean"
        },
        "country-code3": {
          "description": "ISO 3-letter country code",
          "type": "string"
        },
        "currency-code": {
          "description": "ISO 4217 currency code associated with the country",
          "type": "string"
        },
        "is-vpn": {
          "description": "True if this IP ia a VPN",
          "type": "boolean"
        },
        "is-proxy": {
          "description": "True if this IP is a proxy",
          "type": "boolean"
        },
        "asn": {
          "description": "The autonomous system (AS) number",
          "type": "string"
        },
        "as-cidr": {
          "description": "The autonomous system (AS) CIDR range",
          "type": "string"
        },
        "as-country-code": {
          "description": "The autonomous system (AS) ISO 2-letter country code",
          "type": "string"
        },
        "as-country-code3": {
          "description": "The autonomous system (AS) ISO 3-letter country code",
          "type": "string"
        },
        "as-domains": {
          "description": "Array of all the domains associated with the autonomous system (AS)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "as-description": {
          "description": "The autonomous system (AS) description / company name",
          "type": "string"
        },
        "as-age": {
          "description": "The age of the autonomous system (AS) in number of years since registration",
          "type": "integer",
          "format": "int32"
        },
        "host-domain": {
          "description": "The IPs host domain",
          "type": "string"
        },
        "vpn-domain": {
          "description": "The domain of the VPN provider (may be empty if the VPN domain is not detectable)",
          "type": "string"
        },
        "is-v6": {
          "description": "True if this is a IPv6 address. False if IPv4",
          "type": "boolean"
        },
        "is-v4-mapped": {
          "description": "True if this is a <a href=\"https://en.wikipedia.org/wiki/IPv6#IPv4-mapped_IPv6_addresses\">IPv4 mapped IPv6 address</a>",
          "type": "boolean"
        },
        "is-bogon": {
          "description": "True if this is a bogon IP address such as a private network, local network or reserved address",
          "type": "boolean"
        },
        "region-code": {
          "description": "ISO 3166-2 region code (if detectable)",
          "type": "string"
        }
      },
      "required": [
        "valid",
        "country",
        "provider-type",
        "country-code",
        "hostname",
        "provider-domain",
        "city",
        "provider-website",
        "ip",
        "region",
        "provider-description",
        "continent-code",
        "is-hosting",
        "is-isp",
        "country-code3",
        "currency-code",
        "is-vpn",
        "is-proxy",
        "asn",
        "as-cidr",
        "as-country-code",
        "as-country-code3",
        "as-domains",
        "as-description",
        "as-age",
        "host-domain",
        "vpn-domain",
        "is-v6",
        "is-v4-mapped",
        "is-bogon",
        "region-code"
      ]
    },
    "ConvertResponse": {
      "title": "ConvertResponse",
      "description": "Structure of convert",
      "example": {
        "from-name": "United States Dollar",
        "from-symbol": "$",
        "from-type": "USD",
        "from-value": "100",
        "historical-date": "",
        "result": "86.259",
        "result-float": 86.259,
        "to-name": "Euro",
        "to-symbol": "€",
        "to-type": "EUR",
        "valid": true
      },
      "type": "object",
      "properties": {
        "valid": {
          "description": "True if the conversion was successful and produced a valid result",
          "type": "boolean"
        },
        "result": {
          "description": "The result of the conversion in string format",
          "type": "string"
        },
        "from-value": {
          "description": "The value being converted from",
          "type": "string"
        },
        "to-type": {
          "description": "The type being converted to",
          "type": "string"
        },
        "from-type": {
          "description": "The type of the value being converted from",
          "type": "string"
        },
        "result-float": {
          "description": "The result of the conversion as a floating-point number",
          "type": "number",
          "format": "double"
        },
        "from-name": {
          "description": "The full name of the type being converted from",
          "type": "string"
        },
        "from-symbol": {
[...]
